
div.assets-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  padding: 0;
  margin: 0;

  height: calc(100% - 3rem);
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #739d88;

  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

ul.assets-main-list, ul.assets-main-list > li {
  list-style: none;
  width: 96%;
  padding: 0;
  margin: 0;
}

div.assets-account-card {
  width: 96%;
  height: 18rem;
  margin: .5rem auto;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px dashed #739d88;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
  border: 1px dashed #739d88;
  background-color: #f1f1f1;

  width: 15rem;
}