.activity-root {
  height: 99.6vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

menu.activity-menu {
  background-color: #dfe2e0;
  height: 3rem;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #739d88;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.activity-menu-main > button {
  font-size: 20px;
  font-weight: 540;
  margin: .2rem;
  padding: .2rem .5rem;
  border-radius: 1vw;
  cursor: pointer;
  background-color: #dfe2e0;
  border: none;
  border-bottom: 2px solid #6b6b6b;
}

div.activity-menu-main > button:hover {
  background-color: #93ceb4;
  color: #191919;
}

#activity-menu-current {
  background-color: #93ceb4;
  color: #191919;
}



#cal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 80vw;
  height: 95%;
  padding: 0;
  margin: 0 auto;
  

  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

#date-input {
  margin: 0;
  padding: 0;
}


#cal-tools {
  width: 50vw;
  margin: 0 auto .2rem auto;
  padding: .5rem;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ccc;
}

#today, #cal-tools > button {
  background-color: #f2f2f2;
  padding: .5rem;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}

#today:hover, #cal-tools > button:hover {
  background-color: #e2e2e2;
}

#cal-tools > button {
  font-size: 1.1rem;
}

#cal-shift {
  background-color: #f2f2f2;
  padding: .5rem;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  max-width: 40%;
  margin: 0;
  padding: 0;
}

#cal-shift > button, #cal-shift > input {
  margin: 0 .1rem;
  padding: .1rem;
  font-size: 1.5rem;
  text-align: center;
}

table {
  table-layout: fixed;
  margin: 0;

  border-radius: 1rem;
  padding: .5rem;
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #e2e2e2;
}


td, th {
  width: 8rem;
  height: 8rem;
  min-width: 6rem;
  border: 1px solid #ccc;
  text-overflow: ellipsis;
}

th {
  height: fit-content;
  padding: .5rem 0;
  background-color: #e2e2e2;
}

.day-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c6d9e1;
  font-weight: 550;
  
  padding: .1rem;
  width: 1.1rem;
  border-radius: 50%;
}

.cal-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.cal-day:hover {
  background-color: #e4eaec;
}

.cal-exp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 8rem;
  min-width: 6rem;
  height: fit-content;
  background-color: #fce6ba;
  margin: .2rem 0;

  font-size: small;
  border-radius: 18%;
}

.cal-exp:hover {
  background-color: #f6d6aa;
}

.cal-inc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 8rem;
  min-width: 6rem;
  height: fit-content;
  background-color: #c6e1d1;
  margin: .2rem 0;

  font-size: small;
  border-radius: 18%;
}
.cal-inc:hover {
  background-color: #b6d1c1;
}

.day-items {
  height: 6rem;
  overscroll-behavior: contain;
}

.exp-list-item, .inc-list-item {
  width: 75%;
  margin: .2rem 0;
  padding: .2rem;
  border-radius: .5rem;

  display: grid;
  grid-template-columns: 1fr 1.6fr 1fr 1.3fr 3fr;
}

.exp-list-item {
  background-color: #fce6ba;
}
.exp-list-item:hover {
  background-color: #f6d6aa;
}

.inc-list-item {
  background-color: #c6e1d1;
}
.inc-list-item:hover {
  background-color: #b6d1c1;

}

.list-date {
  font-size: small;
  font-weight: 550;
  text-align: left;
  padding: .1rem;
}

.list-amount {
  font-weight: 550;
  background-color: #f2f2f2;
  border-radius: .5rem;
  width: 6.5rem;
  min-width: fit-content;
  max-height: 1.5rem;
  padding: .1rem .2rem;
  justify-self: end;
  text-align: right;
}

.list-cat {
  background-color: #ffffff;
  border-radius: .5rem;
  padding: .2rem;
  margin: .2rem;
  width: fit-content;
  max-height: 1.5rem;
}

#list-element {
  height: 89%;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 2rem;

  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}