
#cal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 80vw;
  height: 60vh;
  padding: 0;
  margin: 8rem auto 0 auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#date-input {
  margin: 0;
  padding: 0;
}

menu {
  width: 80vw;
  padding: 0;
  margin: 1rem;
}

#activity-tools > button {
  font-size: 1.5rem;
}

#activity-extra > button {
  font-size: 1.2rem;
  margin: 1rem 0;
}

#activity-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 89vw;
  margin: 0;
  padding: 0;
}

#cal-tools {
  width: 50vw;
  margin: .5rem auto;
  padding: 1rem;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ccc;
}

#today, #cal-tools > button {
  background-color: #f2f2f2;
  padding: .5rem;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}

#today:hover, #cal-tools > button:hover {
  background-color: #e2e2e2;
}

#cal-tools > button {
  font-size: 1.1rem;
}

#cal-shift {
  background-color: #f2f2f2;
  padding: .5rem;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  max-width: 40%;
  margin: 0;
  padding: 0;
}

#cal-shift > button, #cal-shift > input {
  margin: 0 .1rem;
  padding: .1rem;
  font-size: 1.5rem;
  text-align: center;
}

table {
  table-layout: fixed;
  margin: 0;

  border-radius: 1rem;
  padding: .5rem;
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #e2e2e2;
}


td, th {
  width: 8rem;
  height: 8rem;
  min-width: 6rem;
  border: 1px solid #ccc;
  text-overflow: ellipsis;
}

th {
  height: fit-content;
  padding: .5rem 0;
  background-color: #e2e2e2;
}

.day-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c6d9e1;
  font-weight: 550;
  
  padding: .1rem;
  width: 1.1rem;
  border-radius: 50%;
}

.cal-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.cal-exp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 8rem;
  min-width: 6rem;
  height: fit-content;
  background-color: #fce6ba;
  margin: .2rem 0;

  font-size: small;
  border-radius: 18%;
}

.day-items {
  height: 6rem;
  overscroll-behavior: contain;
}

.exp-list-item {
  background-color: #fce6ba;
}

.inc-list-item {
  background-color: #c6e1d1;
}

.cal-inc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 8rem;
  min-width: 6rem;
  height: fit-content;
  background-color: #c6e1d1;
  margin: .2rem 0;

  font-size: small;
  border-radius: 18%;
}