html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

div.logo {
	width: 100%;
	margin: 0 auto;
	background-color: #f1f1f1;
}
/*
@keyframes bg-glow {
  0%   {background-color: #bce2d0;}
  33%  {background-color: #c7d4cd;}
  66%  {background-color: #a7cdbb;}
  100% {background-color: #bce2d0;}
}*/

div.no-auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 100;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #9a9a9a;

	/*
	animation-name: bg-glow;
  animation-duration: 12s;
	animation-iteration-count: infinite;*/
}

.float-fg {
	position: absolute;
	z-index: 105;
	top: 0;
	left: 0;
}

div.auth-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 110;

	border-radius: 2rem;
	border: 3px solid #929e98;
	height: 40%;
	width: 40%;
	margin: 0 auto;
	padding: 0;
	background-color: #cfd5d3;
}

div.auth-field > input {
	margin: 0.2rem;
	width: 80%;
	height: 1.5rem;
	border-radius: 0.5rem;
	border: 1px solid #929e98;
	background-color: #f1f1f1;
}

div.auth-field > button {
	margin: 0.2rem;
	width: 60%;
	height: 1.5rem;
	border-radius: 0.5rem;
	border: 1px solid #7b8581;
	background-color: #91d2b396;
}

div.app-loading {
	position: absolute;
	z-index: 150;
}

div.home-preview {
	display: grid;
	grid-template-columns: 2fr 3fr;

	margin: .5rem;
	width: 98.3%;
	border-radius: 1vw;
	height: 15rem;
	background-color: #f0f3f2;
	border: 1px dashed #739d88;
}

div.home-preview  ul {
	overflow: hidden;
	overflow-y: scroll;
}

div.preview-acct-select {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 100%;
	height: 100%;
}
button.preview-type-active {
	background-color: #c8cbc9;
}

a {
	text-decoration: none;
	color: #333;
}

div.news-main {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

@keyframes load-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
	animation: load-spin infinite 5s linear;
	height: 4rem;
	position: absolute;
	top: 40%;
	left: 43%;
	z-index: 200;
}