div.page-root > ol {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

ol.list-main {
	width: 92%;
	margin: 1rem auto;
	padding: 0.5rem 1rem;
	border: 1px dashed #739d88;
	border-radius: 1vw;

	display: flex;
	flex-direction: column;

	list-style: none;
	background-color: rgba(223, 226, 225, 0.695);
}

ol.list-main > h2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #bed1c7;
}
ol.list-main > h2:hover {
	color: #444;
}
ol.list-hide {
	display: none;
}

li.item-base {
	width: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
}

li.item-base > input {
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 0.4rem;
}

li.edit-list-active {
	background-color: #aabbcc98;
	border-radius: 1vw;
}

div.list-item {
	width: 100%;
	margin: 0.2rem 0;
	padding: 0.2rem;
	border-radius: 0.5rem;
	border: 1px dashed #739d88;

	display: grid;
	grid-template-columns: 0.7fr 1.2fr 1fr 1.2fr 1.2fr 0.8fr;
}

div.list-item-expense {
	background-color: #fce6ba65;
}
div.list-item-expense:hover {
	background-color: #f6d6aa99;
}
div.list-item-income {
	background-color: #c6e1d165;
}
div.list-item-income:hover {
	background-color: #b6d1c199;
}

span.list-item-date {
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 550;
}

span.list-item-source {
	background-color: rgba(207, 250, 246, 0.6);
	width: fit-content;
	max-width: 12rem;
	overflow: hidden;
	padding: 0.1rem 0.2rem;
	border-radius: 0.5rem;
	font-weight: 500;
}

span.list-item-amount {
	font-family: 'Courier New', Courier, monospace;
	background-color: #f2f2f2;
	border-radius: 0.5rem;
	width: 6.5rem;
	min-width: fit-content;
	max-height: 1.5rem;
	padding: 0.1rem 0.2rem;
	justify-self: end;
	text-align: right;
	font-weight: 550;
	margin-right: 0.5rem;
}

span.list-item-account {
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 550;
}

span.list-item-category {
	border-radius: 0.5rem;
	padding: 0.1rem 0.2rem;
	margin: 0 0.2rem;
	width: fit-content;
	max-height: 1.5rem;
	font-weight: 540;
}

span.list-item-desc {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: small;
	font-weight: 500;
}

menu.edit-multi-log {
	width: 20%;
	height: 40%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #dbdbdbdd;

	position: fixed;
	border: 2px dashed #abc;
}
