menu.dynamic-menu {
	background-color: var(--color-secondary);
	height: 3rem;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid var(--color-primary);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

div.dynamic-menu-main > button {
	font-size: 20px;
	font-weight: 540;
	margin: 0.2rem;
	padding: 0.2rem 0.5rem;
	border-radius: 1vw;
	cursor: pointer;
	background-color: var(--color-secondary);
	border: none;
	border-bottom: 2px solid light-dark(#6b6b6b, #dfe2e0);
}

div.dynamic-menu-main > button:hover {
	background-color: var(--color-highlight);
	color: #191919;
}

button#dynamic-menu-current, button.fetch-more:hover {
	background-color: var(--color-highlight);
	color: #191919;
}

/* potentially needed for calendar and list */
button.fetch-more {
	width: 20%;
	margin: 0 auto;
	border-radius: 1vw;
	background-color: var(--color-secondary);
	border: none;
	border-bottom: 2px solid light-dark(#6b6b6b, #dfe2e0);
}

