nav {
	/* VERTICAL NAV ON LEFT SIDE OF SCREEN (TOP TO BOTTOM) */
	/* COLLAPSABLE */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;
	width: fit-content;

	margin: 0;
	padding: 0;
	position: relative;
	z-index: 10;
	background-color: light-dark(var(--color-secondary), var(--color-secondary-dark));
	border-right: 2px solid var(--color-primary);

	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

.nav-core,
.nav-extra,
.nav-top {
	margin: 0;
	padding: 2vh 0;
	width: 100%;
}

.nav-core li,
.nav-extra li,
.nav-top li {
	list-style: none;
	text-decoration: none;
	padding: 0.4vh 0.5vw;
	margin: 1vh 0.3vw;

	font-size: 20px;
	font-weight: 550;

	color: light-dark(var(--color-text), var(--color-text-inverse));
	background-color: light-dark(var(--color-secondary), var(--color-secondary-dark));
	border-bottom: 2px solid light-dark(var(--color-secondary-dark), var(--color-secondary));
	border-radius: 1vw;
}

a {
	text-decoration: none;
}

.nav-top {
	text-align: center;
}
.nav-extra {
	background-color: var(--color-text);
}
.nav-top > li {
	background-color: #acacac;
}
.nav-inverse > li {
	background-color: light-dark(var(--color-secondary), var(--color-secondary-dark));
}

.nav-core li:hover,
.nav-extra li:hover,
.nav-top li:hover, #nav-current, .nav-core li:active {
	background-color: var(--color-highlight);
	color: var(--color-text);
}