
div.profile-personal {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

div.profile-personal > menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}