
div.profile-personal {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: calc(100% - 2rem);
  padding: 1rem;
}

div.profile-personal > menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}