
ul.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #d4d7d5;
  position: absolute;
  z-index: 200;
  
  width: 8.2rem;
  margin: 0 auto;
}
div.tree-option {
  
  cursor: pointer;
}
div.tree-option:hover {
  background-color: #b2b8b5;
}
li.dropdown-li { height: 1.4rem; }
li.dropdown-li:hover {
  background-color: #b2b8b5;
  height: 1.4rem;
}
li.dropdown-li:hover div.option-container {
  display: block;
}

div.option-container {
  display: none;
  position: relative;
  background-color: #d4d7d5;
  z-index: 250;
  left: 8rem;
  top: -1.4rem;
}

div.custom-select input {
  width: 8.5rem;
}