
ul.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #a3a3a3;

  
  margin: 0 auto;
}
div.tree-option {
  
  cursor: pointer;
}
div.tree-option:hover {
  background-color: #888888;
}

li.dropdown-li:hover {
  background-color: #888888;
  display: block;
  height: 1.4rem;
}
li.dropdown-li:hover div.option-container {
  display: block;
}

div.option-container {
  display: none;
  position: relative;
  background-color: #a3a3a3;
  z-index: 250;
  left: 8.5rem;
  top: -1.4rem;
}

div.custom-select input {
  width: 8.5rem;
}