
.settings-list {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 2rem;

  list-style: none;
}

.settings-list > li {
  width: 70%;
  background-color: var(--color-panel);
  padding: 1rem;
  margin: .5rem 0;
}

.settings-list button {
  padding: .5rem;
  margin: 0 0.4rem;
}

#settings-theme-active {
  background-color: var(--color-primary);
  color: var(--color-text);
}