
div#view-day-root {
  position: absolute;
  z-index: 20;
  right: 1rem;
  top: 4rem;

  height: fit-content;
  width: fit-content;

  background-color: rgba(182, 191, 182, 0.6);
  border: 2px solid #739d88;
  border-radius: 1vw;
  padding: 1rem;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.view-day-positive {
  color: #1e6d58;
  font-size: 1.5rem;
  font-weight: 600;
  margin: -1rem 0 .5rem 0;
  background-color: #f2f2f2;
  padding: .2rem .5rem;
  border-radius: 1vw;
}

h3.view-day-negative {
  color: #6d1e1e;
  font-size: 1.5rem;
  font-weight: 600;
  margin: -1rem 0 .5rem 0;
  background-color: #f2f2f2;
  padding: .2rem .5rem;
  border-radius: 1vw;
}

ol.view-day-list {
  list-style: none;
  background-color: #bdc0beb9;
  padding: .5rem;
  border-radius: 1vw;
  max-width: 25rem;
  margin: 0;
}

li.view-day-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;

  border: 1px dashed #6b6b6b;
  border-radius: 1vw;
  margin: .2rem 0;
  padding: .1rem;
}

span.view-day-source {
  background-color: rgba(207, 250, 246, 0.6);
  width: fit-content;
  max-width: 9rem;
  overflow: hidden;
  padding: .1rem .2rem;
  border-radius: .5rem;
  font-weight: 500;
}

span.view-day-amount {
  background-color: #f2f2f2;
  border-radius: .5rem;
  width: 5.5rem;
  min-width: fit-content;
  max-height: 1.5rem;
  padding: .1rem .2rem;
  justify-self: end;
  text-align: right;
}

span.view-day-desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: small;
  font-weight: 500;
  margin-left: 1rem;
}